* {

	margin: 0;
	padding: 0;
	letter-spacing: 6px;
	font-smooth: never;
	-webkit-font-smoothing: none;

}

body {

	background-color: #ffffff;
	background-image: url('resources/sakuratilepink.gif');
	color: #ffffff;

}

.post {

	background-color: #000000;
	width: 800px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	box-shadow: #000000cc 0px 5px 10px;
	text-align: center;
	font-size: 13px;
	padding-top: 20px;

}

.post p {

	margin: 20px;

}
